* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.ml-25 {
    margin-left: 20px;
}

.max {
    margin: 0;
    display: inline-block;
    margin-left: 40%;
    color: #1890FF;
}